* {
  font-family: "Ysabeau Infant", sans-serif;
  margin: 0px;
  box-sizing: border-box;
  font-size: 30px;
}

#adminEmployeesContainer {
  background-color: #f5f5f5;
}

nav {
  background-color: #9d0c0e;
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: space-between;
  padding: 10px 30px;
}

.navLogo {
  height: 80px;
}

#logOut {
  background-color: #9d0c0e;
  color: white;
  font-size: 30px;
  float: right;
  margin-top: 18px;
}

.prodEmplButtons {
  display: flex;
}

.employeesButton,
.productsButton {
  flex: 1;
  height: 50px;
  background-color: #f5f5f5;
  height: 70px;
  border: none;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25);
}

.employeesButton {
  background-color: #feaf0d;
}

.btnAdd {
  display: flex;
  justify-content: flex-end;
  margin: 15px 30px;
}

.addButton {
  background-color: #feaf0d;
  color: black;
  font-size: 25px;
  height: 50px;
  width: 220px;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25);
  margin: 50px 50px;
}

.tableSection {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
}

.employeesTable {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

.employeesTable th,
.employeesTable td {
  padding: 8px;
  border: 1px solid #ddd;
  margin: 0 auto;
}

.employeesTable th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: center;
}

.employeesTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.employeesTable tr:hover {
  background-color: #e6e6e6;
}


/*estilos moda*/
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #ABDCE3;
  padding: 30px;
  border-radius: 15px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.closeButton {
  color: black;
  margin-left: auto;
}

.modalLabel {
  color: black;
}

.modalButton{
  background-color: #feaf0d;
  color: black;
  font-size: 25px;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25);
}
